@using ClassLibrary.Models
@using RssWebApp.Models
@model IndexViewModel

@{
	ViewData["Title"] = "Home Page";
}
<style>
	img {
    vertical-align: middle;
	width:400px; 
}
	input.btn.btn-outline-dark,a.btn.btn-outline-dark {
    margin-right: 20px;
    margin-top: 20px;
}
</style>

<h1>Rss</h1>

<form method="get">
	<div class="form-inline">
		<label>Заголовок: </label>
		<input name="name" value="@Model.FilterViewModel.SelectedName" class="form-control" />
		<label>Источник: </label>
		<select name="source" value="@Model.FilterViewModel.SelectedSource" class="form-control">
			  <option value="">Все</option>
			  <option value="Интерфакс">Интерфакс</option>
			  <option value="Хабрахабр">Хабрахабр</option>
		</select>
		<input type="submit" value="Фильтр" class="btn btn-outline-dark" />
	</div>
</form>


<table style="margin-top: 20px" class="table">
	@if (Model.PageViewModel.HasPreviousPage)
{
	<a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
   asp-route-name="@(Model.FilterViewModel.SelectedName)"
   class="btn  btn-outline-dark">
		Назад
	</a>
}
@if (Model.PageViewModel.HasNextPage)
{
	<a asp-action="Index"
   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
   asp-route-name="@(Model.FilterViewModel.SelectedName)"
   asp-route-sortorder="@(Model.SortViewModel.Current)"
   class="btn btn-outline-dark">
		Вперед
	</a>
}
	<tr>
		<th>
			<a asp-action="Index"
			   asp-route-sortOrder="@(Model.SortViewModel.SourceSort)"
			   asp-route-name="@(Model.FilterViewModel.SelectedName)">Источник</a>
		</th>
		<th>
			<a asp-action="Index"
			   asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
			   asp-route-name="@(Model.FilterViewModel.SelectedName)">Название</a>
		</th>
		<th>
			Описание
		</th>
		<th>
			<a asp-action="Index"
			   asp-route-sortOrder="@(Model.SortViewModel.DateSort)"
			   asp-route-name="@(Model.FilterViewModel.SelectedName)">Дата публикации</a>
		</th>
	</tr>

	@foreach (var u in Model.Feed)
	{
		<tr>
			<td>@u.Source</td>
			<td>
				<a href="@u.Link">
					@u.Title
				</a>
			</td>
			<td>@Html.Raw(@u.Description )</td>
			<td>@u.PublishDate.ToShortDateString()<br>@u.PublishDate.ToShortTimeString()</td>
		</tr>
	}

</table>
