@using ClassLibrary.Models
@using RssWebApp.Models
@{
	int pageNumber=0;
	ViewData["Title"] = "Privacy Policy";
	List<News> Feed = new();
	List<News> GetFeed()
	{
		using (ApplicationContext db = new ApplicationContext())
		{
			return Feed = db.Feed.Skip(pageNumber*10).Take(3).ToList();
		}
	};
	void NextPage()
	{
		pageNumber++;
		GetFeed();
	}
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
    </tr>
    @foreach (var item in GetFeed())
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.PublishDate</td>
        </tr>
    }
</table>
<br />
<div class="btn-group">
</div>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Link</th>
			<th>Date</th>
		</tr>
	</thead>

	<tbody style="border-width: 4px;" bgcolor="#EAEAEA">
		@foreach (var item in GetFeed())
		{
			<tr align="left">
				<td style="border-width: 2px;">@item.Title</td>
				<td style="border-width: 2px;">@Html.Raw(@item.Description.Replace("p>","span>").Replace("<figure>","<br>").Replace("</figure>","<br>").Replace("<img","<img style=\"max-width: 400px;\""))</td>
				<td style="border-width: 2px;">@item.Link</td>
				<td style="border-width: 2px;">@item.PublishDate.ToShortDateString()</td>
			</tr>
		}
	</tbody>
</table>


